.2_21 { 
	overflow:hidden;
}.e2_21 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	width:1920px;
	height:1487px;
	position:absolute;
}.e2_22 { 
	color:rgba(0, 0, 0, 1);
	width:393px;
	height:64px;
	position:absolute;
	left:0px;
	top:183px;
	font-family:Raleway;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_34 { 
	color:rgba(0, 0, 0, 1);
	width:1456px;
	height:241px;
	position:absolute;
	left:135px;
	top:286px;
	font-family:Raleway;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_27 { 
	background-color:rgba(11.943534314632416, 117.7009566128254, 194.28393959999084, 1);
	width:1920px;
	height:86px;
	position:absolute;
	left:0px;
	top:-4px;
}.e2_28 { 
	color:rgba(0, 0, 0, 1);
	width:393px;
	height:64px;
	position:absolute;
	left:763px;
	top:119px;
	font-family:Raleway;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e3_44 { 
	color:rgba(0, 0, 0, 1);
	width:393px;
	height:64px;
	position:absolute;
	left:763px;
	top:553px;
	font-family:Raleway;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e2_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:131px;
	height:60px;
	position:absolute;
	left:1592px;
	top:9px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e2_30 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:131px;
	height:60px;
	position:absolute;
	left:1757px;
	top:9px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e2_31 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:39px;
	position:absolute;
	left:1602px;
	top:18px;
	font-family:Raleway;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e2_32 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:38px;
	position:absolute;
	left:1768px;
	top:20px;
	font-family:Raleway;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e2_33 { 
	color:rgba(255, 255, 255, 1);
	width:520px;
	height:61px;
	position:absolute;
	left:12px;
	top:9px;
	font-family:Raleway;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e3_19 { 
	background-color:rgba(11.943534314632416, 117.7009566128254, 194.28393959999084, 1);
	width:1920px;
	height:367px;
	position:absolute;
	left:0px;
	top:1120px;
}.e3_20 { 
	color:rgba(255, 255, 255, 1);
	width:255px;
	height:68px;
	position:absolute;
	left:162px;
	top:1154px;
	font-family:Poppins;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e3_21 { 
	color:rgba(255, 255, 255, 1);
	width:759px;
	height:34px;
	position:absolute;
	left:162px;
	top:1237px;
	font-family:Open Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e3_22 { 
	color:rgba(255, 255, 255, 1);
	width:425px;
	height:27px;
	position:absolute;
	left:747px;
	top:1442px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e3_45 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:280px;
	height:314px;
	position:absolute;
	left:198px;
	top:662px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e3_238 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:268px;
	top:866px;
}.ei3_238_3_63 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_238_3_64 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_238_3_65 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_238_3_66 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:5.641368865966797px;
	height:16.949970245361328px;
	position:absolute;
	left:11.950515747070312px;
	top:20.617719650268555px;
}.ei3_238_3_67 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:6.3465118408203125px;
	height:5.857548713684082px;
	position:absolute;
	left:11.616945266723633px;
	top:12.446615219116211px;
}.ei3_238_3_68 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:17.222318649291992px;
	height:17.348438262939453px;
	position:absolute;
	left:20.714527130126953px;
	top:20.21965980529785px;
}.e3_46 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:303px;
	top:700px;
	background-image:url(images/ellipse_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_47 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:51px;
	position:absolute;
	left:262px;
	top:780px;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e3_53 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:280px;
	height:314px;
	position:absolute;
	left:614px;
	top:663px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e3_54 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:719px;
	top:701px;
	background-image:url(images/ellipse_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_55 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:51px;
	position:absolute;
	left:678px;
	top:781px;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e3_56 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:280px;
	height:314px;
	position:absolute;
	left:1030px;
	top:667px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e3_57 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:1135px;
	top:705px;
	background-image:url(images/ellipse_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_58 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:51px;
	position:absolute;
	left:1094px;
	top:785px;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e3_59 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:280px;
	height:314px;
	position:absolute;
	left:1446px;
	top:667px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e3_60 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:1551px;
	top:705px;
	background-image:url(images/ellipse_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_61 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:51px;
	position:absolute;
	left:1510px;
	top:785px;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e3_107 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:359px;
	top:866px;
}.ei3_107_3_90 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_107_3_91 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_107_3_92 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_107_3_93 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:26.552865982055664px;
	height:26.55314064025879px;
	position:absolute;
	left:11.616945266723633px;
	top:11.616777420043945px;
}.ei3_107_3_94 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:21.76776695251465px;
	height:21.765003204345703px;
	position:absolute;
	left:14.01063346862793px;
	top:14.00598430633545px;
}.ei3_107_3_95 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:21.76776695251465px;
	height:21.765003204345703px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_107_3_96 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.1863768100738525px;
	height:3.1863768100738525px;
	position:absolute;
	left:16.377674102783203px;
	top:2.2074434757232666px;
}.ei3_107_3_97 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:13.635038375854492px;
	height:13.634761810302734px;
	position:absolute;
	left:4.066033363342285px;
	top:4.0693559646606445px;
}.ei3_107_3_98 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:8.851046562194824px;
	height:8.851046562194824px;
	position:absolute;
	left:20.468997955322266px;
	top:20.467876434326172px;
}.e3_187 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:769px;
	top:866px;
}.ei3_187_3_90 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_187_3_91 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_187_3_92 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_187_3_93 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:26.552865982055664px;
	height:26.55314064025879px;
	position:absolute;
	left:11.616945266723633px;
	top:11.616777420043945px;
}.ei3_187_3_94 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:21.76776695251465px;
	height:21.765003204345703px;
	position:absolute;
	left:14.010409355163574px;
	top:14.00598430633545px;
}.ei3_187_3_95 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:21.76776695251465px;
	height:21.765003204345703px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_187_3_96 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.1863768100738525px;
	height:3.1863768100738525px;
	position:absolute;
	left:16.377796173095703px;
	top:2.2074434757232666px;
}.ei3_187_3_97 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:13.635038375854492px;
	height:13.634761810302734px;
	position:absolute;
	left:4.06593132019043px;
	top:4.0693559646606445px;
}.ei3_187_3_98 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:8.851046562194824px;
	height:8.851046562194824px;
	position:absolute;
	left:20.468997955322266px;
	top:20.467876434326172px;
}.e3_188 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:678px;
	top:866px;
}.ei3_188_3_63 { 
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_188_3_64 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_188_3_65 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:49.78662109375px;
	height:49.78662109375px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_188_3_66 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:5.641368865966797px;
	height:16.949970245361328px;
	position:absolute;
	left:11.950515747070312px;
	top:20.617719650268555px;
}.ei3_188_3_67 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:6.3465118408203125px;
	height:5.857548713684082px;
	position:absolute;
	left:11.616945266723633px;
	top:12.446615219116211px;
}.ei3_188_3_68 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:17.222318649291992px;
	height:17.348438262939453px;
	position:absolute;
	left:20.714527130126953px;
	top:20.21965980529785px;
}.e3_204 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1193px;
	top:866px;
}.ei3_204_3_90 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_204_3_91 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_204_3_92 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_204_3_93 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:26.66666603088379px;
	height:26.66694450378418px;
	position:absolute;
	left:11.666678428649902px;
	top:11.666566848754883px;
}.ei3_204_3_94 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:21.861059188842773px;
	height:21.858287811279297px;
	position:absolute;
	left:14.070337295532227px;
	top:14.066020965576172px;
}.ei3_204_3_95 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:21.861059188842773px;
	height:21.858287811279297px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_204_3_96 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.200031042098999px;
	height:3.2000343799591064px;
	position:absolute;
	left:16.44778060913086px;
	top:2.216905117034912px;
}.ei3_204_3_97 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:13.693477630615234px;
	height:13.693199157714844px;
	position:absolute;
	left:4.083494186401367px;
	top:4.086798667907715px;
}.ei3_204_3_98 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:8.888981819152832px;
	height:8.888978958129883px;
	position:absolute;
	left:20.556814193725586px;
	top:20.55561065673828px;
}.e3_205 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1102px;
	top:866px;
}.ei3_205_3_63 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_205_3_64 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_205_3_65 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_205_3_66 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:5.665546894073486px;
	height:17.022615432739258px;
	position:absolute;
	left:12.00181770324707px;
	top:20.706096649169922px;
}.ei3_205_3_67 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:6.373711109161377px;
	height:5.882654190063477px;
	position:absolute;
	left:11.666678428649902px;
	top:12.499960899353027px;
}.ei3_205_3_68 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:17.29612922668457px;
	height:17.422792434692383px;
	position:absolute;
	left:20.803239822387695px;
	top:20.30630111694336px;
}.e3_221 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1610px;
	top:866px;
}.ei3_221_3_90 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_221_3_91 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_221_3_92 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_221_3_93 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:26.66666603088379px;
	height:26.66694450378418px;
	position:absolute;
	left:11.666678428649902px;
	top:11.666566848754883px;
}.ei3_221_3_94 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:21.861059188842773px;
	height:21.858287811279297px;
	position:absolute;
	left:14.070337295532227px;
	top:14.066020965576172px;
}.ei3_221_3_95 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:21.861059188842773px;
	height:21.858287811279297px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_221_3_96 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.200031042098999px;
	height:3.2000343799591064px;
	position:absolute;
	left:16.44778060913086px;
	top:2.216905117034912px;
}.ei3_221_3_97 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:13.693477630615234px;
	height:13.693199157714844px;
	position:absolute;
	left:4.083494186401367px;
	top:4.086798667907715px;
}.ei3_221_3_98 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:8.888981819152832px;
	height:8.888978958129883px;
	position:absolute;
	left:20.556814193725586px;
	top:20.55561065673828px;
}.e3_222 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1519px;
	top:866px;
}.ei3_222_3_63 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_222_3_64 { 
	background-color:rgba(48.000000938773155, 77.00000301003456, 89.00000229477882, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_222_3_65 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3_222_3_66 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:5.665546894073486px;
	height:17.022615432739258px;
	position:absolute;
	left:12.00181770324707px;
	top:20.706096649169922px;
}.ei3_222_3_67 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:6.373711109161377px;
	height:5.882654190063477px;
	position:absolute;
	left:11.666678428649902px;
	top:12.499960899353027px;
}.ei3_222_3_68 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:17.29612922668457px;
	height:17.422792434692383px;
	position:absolute;
	left:20.803239822387695px;
	top:20.30630111694336px;
}